<div class="container">
  <%= render :partial => 'layouts/navbar' %>
  <div class="thin-pad">
    <h2>New job</h2>
    <div class="main-page">
      <%= render 'form' %>
      <br />
      <%= link_to 'Back', volumes_path %>
    </div>
  </div>
</div>