/* 
	Cusco Sky table styles
	written by Braulio Soncco http://www.buayacorp.com
*/

table, th, td {
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
}

caption {
	font-size: 150%;
	font-weight: bold;
	margin: 5px;
}

td, th {
	padding: 4px;
}

thead, th {
	text-align: center;
	background: #E6EDF5;
	color: #4F76A3;
	font-size: 100% !important;
}

tbody th {
	font-weight: bold;
}

tbody tr { background: #FCFDFE; }


table a:link {
	color: #718ABE;
	text-decoration: none;
}

table a:visited {
	color: #718ABE;
	text-decoration: none;
}

table a:hover {
	color: #718ABE;
	text-decoration: underline !important;
}

tfoot th, tfoot td {
	font-size: 85%;
}

.navbar2 {
    height: 30px;
    width: 100%;
    border-top: solid #000 1px;
    border-bottom: solid #000 1px;
    margin-bottom: 15px;
    background-color: #336699;
}
.navbar2 ul {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #FFF;
    line-height: 30px;
    white-space: nowrap;
}
.navbar2 li {
    list-style-type: none;
    display: inline;
}
.navbar2 li a {
    text-decoration: none;
    padding: 7px 10px;
    color: #FFF;
}
.navbar2 lia:link {
    color: #FFF:
}
.navbar2 lia:visited {
    color: #CCC;
}
.navbar2 lia:hover {
    font-weight: bold;
    color: #FFF;
    background-color: #3366FF;
}

.profile {
    clear:right;
    float:right;
    margin-top:9px;
    margin-bottom:9px;
    width:200px;
}

ul.nav {
    font-size:11px;
    margin:3px 0 0;
    white-space:nowrap;
    float:right;
}

ul.nav li {
    display:inline;
    list-style-type:none;
    margin:0 15px 0 0;
    font-size:12px;
    font-weight:bold;
    overflow:auto;
    padding:8px 3px 8px 2px;
    text-shadow:1px 1px 0 #FFFFFF;
}

.main-page {
    background-color:#F8F8F8;
    padding:20px;
    border:1px solid #E9E9E9;
    min-height:400px;
}

.test {
    background-color:#FFF;
    #padding:0.7em;
    #padding:20px;
    border:1px solid #E9E9E9;
    min-height:400px;
}

.thin-pad {
    padding:0.7em;
    margin-bottom:20px;
}

#body-main {
    background-color: #336699;
}